<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>活动详情</title>
	<link rel="stylesheet" href="./weiservice/grzx/css/canyu.css">
	<script type="text/javascript" src="./weiservice/grzx/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="./weiservice/js/jquery.qrcode.min.js"></script>
	<script src="./weiservice/grzx/js/layer.js"></script>
	<script type="text/javascript" src="./weiservice/grzx/js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
	<div id="canyu">
		<div class="juzhong">
			<ul>
				<li>
					<div class="left">活动名称</div>
					<div class="right"><?php echo $detai['s_event_name']; ?></div>
				</li>
				<div class="clearfix"></div>
				<li>
					<div class="left">活动时间</div>
					<div class="right"><?php echo date("Y-m-d",$detai['s_event_sTime']); ?></div>
				</li>
				<div class="clearfix"></div>
				<li>
					<div class="left">活动票号</div>
					<div class="right"><?php echo $detai["i_event_vote_id"]; ?></div>
				</li>
				<div class="clearfix"></div>
				<li>
					<div class="left">票种类型</div>
					<div class="right"><?php echo $detai["s_vote_name"]; ?></div>
				</li>
				<div class="clearfix"></div>
				<li>
					<div class="left">活动人数</div>
					<div class="right">1人</div>
				</li>
				<div class="clearfix"></div>
				<li>
					<div class="left">联系人姓名</div>
					<div class="right"><?php echo $detai["s_realname"]; ?></div>
				</li>
				<div class="clearfix"></div>
				<li>
					<div class="left">联系方式</div>
					<div class="right"><?php echo $detai["s_phone"]; ?></div>
				</li>
				<div class="clearfix"></div>
				<li>
					<div class="left">状态</div>
					<div class="right">
						<?php if($detai['i_sta'] == 0){echo "待付款";}elseif($detai['i_sta'] == 1){echo "付款成功";}
						 elseif($detai['i_sta'] == 2){echo "付款失败";}elseif($detai['i_sta'] == 3){echo "等待支支付";}
						 ?>
					</div>
				</li>
				<div class="clearfix"></div>
				<li style="height:120px;line-height:120px">
					<div class="left">活动票据</div>
					<div class="right" id="photos">
						<div id="code"></div>
						<!--<img layer-src="./weiservice/grzx/images/erweima.png" layer-pid="" src="./weiservice/grzx/images/erweima.png">-->
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>
<script type="text/javascript">
	$("#code").qrcode({
		render: "table", //table方式
		width: 40, //宽度
		height:40, //高度
		text: "http://www.wfyizhan.com/kcy/page/past.php?&&sign=<?php echo $erweima[0]['s_vote_sign']; ?>" //任意内容
	});



	;!function(){

	//页面一打开就执行，放入ready是为了layer所需配件（css、扩展模块）加载完毕
	layer.ready(function(){ 
	  
	  //使用相册
	  layer.photos({
	    photos: '#photos'
	  });
	});
	}();
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?0f41d2f9ae699ac962bfa0a7e485a3ef";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</html>