<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title><?php echo $title; ?></title>
	<link rel="stylesheet" href="./weiservice/grzx/css/canyu.css">
	<script type="text/javascript" src="./weiservice/grzx/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="./weiservice/grzx/js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
	<div id="canyu">
		<div class="juzhong">
			<ul>

				<?php if(count($shuju) > 0){ ?>
				<li>
					<div class="left">会议室名称</div>
					<div class="right"><?php echo $shuju['s_room_name']; ?></div>
				</li>
				<div class="clearfix"></div>
				<li>
					<div class="left">会议室地址</div>
					<div class="right"><?php echo $shuju['s_room_address']; ?></div>
				</li>
				<div class="clearfix"></div>
				<li>
					<div class="left">订单号</div>
					<div class="right"><?php echo $shuju['s_sn']; ?></div>
				</li>
				<div class="clearfix"></div>
				<li>
					<div class="left">联系人</div>
					<div class="right"><?php echo $shuju['s_realname']; ?></div>
				</li>
				<div class="clearfix"></div>
				<li>
					<div class="left">联系电话</div>
					<div class="right"><?php echo $shuju['s_phone']; ?></div>
				</li>
				<div class="clearfix"></div>
				<li>
					<div class="left">参会人数</div>
					<div class="right"><?php echo $shuju['i_meeting_number']; ?>人</div>
				</li>
				<div class="clearfix"></div>
				<?php $mytime = json_decode($shuju['as_meeting_reserve'], true); ?>
				<?php $mymy=''; ?>
				<li>
					<div class="left">租赁时间</div>
					<div class="right">
					<?php foreach($mytime as $v){
					$y = substr($v,0,4);
					$m = substr($v,4,2);
					$d = substr($v,6,2);
					$mymy .= $y."-".$m."-".$d.",";
					} 
						$mymy=rtrim($mymy,",");
				
					?>
					<?php echo $mymy; ?>
					</div>
				</li>
				<div class="clearfix"></div>
				<li>
					<div class="left">总价</div>
					<div class="right"><strong>￥<?php echo $shuju['i_total_adj']/100; ?></strong></div>
				</li>
				<div class="clearfix"></div>
				<li>
					<div class="left">状态</div>
					<div class="right"><strong><?php if($shuju['i_cancle']){echo "订单已取消";}else{echo $ddzt[$shuju['i_meeting_sta']];} ?></strong></div>
				</li>
				<div class="clearfix"></div>
				<li>
					<div class="left">备注</div>
					<div class="right"><?php echo $shuju['s_note']; ?></div>
				</li>
				<div class="clearfix"></div>
				<?php } ?>
			</ul>
		</div>
	</div>
	 <div id="bot">
	 	<div class="left">
	 		<a href="tel:<?php echo $s_sell_phone; ?>">
	 			<img src="./weiservice/grzx/images/ph.png"><p>在线咨询</p>
	 		</a>
		</div>
		<div class="right" id="yuding">
			<a data-sta = "<?php echo $shuju['i_meeting_sta']; ?>" data-can = "<?php echo $shuju['i_cancle']; ?>" <?php if($shuju['i_meeting_sta'] != 1&&$shuju['i_meeting_sta'] != 4){echo "style='background: grey;'";} ?>

			<?php if($shuju['i_meeting_sta'] == 1){
			 $ssmoney = $shuju['i_total_adj']/100;
				$signarr = array("order_id"=>$shuju['s_sn'],"money"=>$ssmoney);
			$newss = encryption($signarr);

			 ?>href="./serviceshop.php?act=choosepay&shopname=<?php echo $shuju['s_room_name'].$newss; ?>" <?php }else if($shuju['i_meeting_sta'] == 4){ ?>onclick="done()" <?php } ?> >

			<?php if($shuju['i_cancle']){echo "订单已取消";}else{echo $note[$shuju['i_meeting_sta']];}  ?>
			</a>
		</div>
	 </div>
</body>
<script type="text/javascript">
	function done(){
		var s_sn="<?php echo $shuju['s_sn']; ?>";
		var data={"s_sn":s_sn};	
		var sureOrder = confirm("是否确认付款？");	
		if(sureOrder){
			$.post("./zulin.php?act=done",data,function(msg){
						if (msg=="1") {						
							$('#yuding a').val("已确认付款");
							$('#yuding a').css("background","grey");
							$('#yuding a').removeAttr("onclick");	
							window.location.reload();
						}
					});
		}
	}
	var id = "<?php echo $id; ?>";
	$('#yuding').click(function(){
		if($(this).find('a').attr('data-sta') == '0' && $(this).find('a').attr('data-can') == '0'){
			var data={"i_id":id};
			var sureOrder = confirm("是否确认取消订单？");	
			if(sureOrder){
				$.post("./zulin.php?act=i_relay_cancel",data,function(msg){
					if (msg=="1") {						
						$('#yuding a').val("交易已取消");
						$('#yuding a').css("background","grey");
						$('#yuding a').removeAttr("data-sta");	
						window.location.reload();
					}else{
						alert(msg);
					}
				});
			}
		}
	})
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?0f41d2f9ae699ac962bfa0a7e485a3ef";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</html>